.about-section {
    padding: 80px 10%;
    background-color: var(--color-bg);
}

.about-section .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
}

.pic-content img {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.content p{
    font-size: var(--font-size-smtext);
    font-weight: bold;
    color: var(--color-smtext);
    margin-top: 20px;
}
