.card {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease;
    cursor: pointer;
    border: none;
}

.card-img {
    position: relative;
    height: 250px;
}

.card-img::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .card-img::after {
    opacity: 1;
}


.about-card {
    padding: 10px;
}

.title-card {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-paragraph);
}

/* responsive */
@media (max-width: 768px) {
    .about-card {
        height: 80px;
        display: flex;
        align-items: center;
    }
}