.dashboard-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    direction: rtl;
    padding: 70px 0 0;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-bg-local);
}

.dashboard-section>* {
    direction: ltr;
}

.my-services {
    background-color: hsl(25 35% 25%);
    padding: 20px 15px;

}

.thead-table tr {
    background-color: hsl(30 20% 85%);
}

.para-serv {
    margin: 40px 0;
}

.para-serv>p,
.para-serv hr {
    color: antiquewhite;
    text-align: center;
    font-size: 22px;
    font-family: cursive;
    margin: 20px 0;
}

.cards-service {
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
    width: 80%;
    height: calc(100vh - 180px);
    overflow-y: auto;
    padding: 10px 10px 90px;
    margin: auto;
}

.cards-service::-webkit-scrollbar {
    width: 6px;
}

.cards-service::-webkit-scrollbar-thumb {
    background-color: #a88f86;
    border-radius: 10px;
}

.part-booking h1:nth-of-type(1) {
    font-size: 50px;
    font-weight: bold;
    color: var(--color-btn-dark-hover);
    font-family: "Playfair Display", Georgia, serif;
    ;
}

.part-booking h1:nth-of-type(2) {
    font-size: 28px;
    color: var(--color-primary);
    padding: 0;
    margin: 0;
}

.bookings-section {
    flex: 1;
    overflow: hidden;
    padding-right: 10px;
    margin: 30px 40px;
    height: 55vh;
    border-radius: 7px;
    box-shadow: 0px 0px 11px 0px gray;

}

.part-booking {
    padding-top: 42px;
    overflow: hidden;
}

.table-responsive {
    height: 100%;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}

.table-responsive::-webkit-scrollbar {
    width: 6px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #6a5148;
    border-radius: 10px;
}


.text-center {
    font-family: ui-monospace;
    font-weight: 700;
    line-height: var(--line-height);
}

.bookings-section>h2 {
    font-size: 28px;
    color: var(--bs-secondary);
}

.add-btn {
    padding: 10px 80px;
    border: none;
    background-color: hsl(25 35% 25%);
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px gray;
    color: white;
    display: block;
    margin: 40px auto;
    transition: .5s;
}

.add-btn:hover {
    background-color: hsla(25, 35%, 25%, 0.895);
}


/* responsive */
@media (max-width: 768px) {

    .show-services-btn {
        width: 80%;
        border: none;
        background-color: hsl(25 35% 25%);
        font-size: 16px;
        border-radius: 7px;
        box-shadow: 0px 0px 6px 0px gray;
        color: white;
        display: block;
        margin: 15px auto;
        transition: .5s;
        padding: 6px;
    }

    .bookings-section {
        height: 60vh;
    }

    .part-booking h1:nth-of-type(1) {
        font-size: 32px;
    }

    .part-booking h1:nth-of-type(2) {
        font-size: 22px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(4px);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
        z-index: 2999;
    }

    .overlay.show {
        opacity: 1;
        visibility: visible;
    }

    .dashboard-section {
        grid-template-columns: 1fr;
    }

    .services-toggle {
        position: fixed;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2000;
        background-color: hsl(25 35% 25%);
        color: #fff;
        border: none;
        padding: 12px 15px;
        border-radius: 50%;
        font-size: 18px;
        transition: .6s;
    }

    .my-services {
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100vh;
        background-color: hsl(25 35% 25%);
        z-index: 3000;
        transition: left 0.3s ease;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    .my-services.open {
        left: 0;
    }

    .para-serv-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }

    .close-services {
        background: none;
        color: white;
        font-size: 22px;
        border: none;
        cursor: pointer;
    }

    .cards-service {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr;
        gap: 28px;
        width: 95%;
        overflow-y: auto;
        margin: 0 auto;
        padding: 10px 0;
    }

    .my-services.open {
        left: 0;
    }

    .close-services {
        background: none;
        color: white;
        font-size: 22px;
        border: none;
        cursor: pointer;
    }

    .mobile-add {
        position: sticky;
        bottom: 20px;
        width: 90%;
        margin: 0 auto;
        z-index: 4000;
    }

    .para-serv {
        margin: 20px 0 5px;
    }

    .para-serv-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }

    .para-serv-header p {
        margin: 0;
        font-size: 22px;
        font-family: cursive;
        color: antiquewhite;
    }

    .add-btn-slider {
        border: none;
        background-color: hsl(25 35% 25%);
        font-size: 18px;
        border-radius: 10px;
        box-shadow: 0px 0px 6px 0px gray;
        color: white;
        display: block;
        transition: .5s;
        padding: 10px 0;
        width: 90%;
        margin: 20px auto 10px
    }

    .add-btn {
        display: none;
    }

}