.dashboard-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    direction: rtl;
    padding: 70px 0 0;
    height: 100vh;       
    overflow: hidden; 
    background-color: var(--color-bg-local);
}

.dashboard-section>* {
    direction: ltr;
}

.my-services {
    background-color: hsl(25 35% 25%);
    padding: 20px 15px;
    
}

.thead-table tr{
    background-color: hsl(30 20% 85%);
}

.para-serv {
    margin: 40px 0 ;
}

.para-serv>p,
.para-serv hr {
    color: antiquewhite;
    text-align: center;
    font-size: 22px;
    font-family: cursive;
    margin: 20px 0;
}

.cards-service {
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
    width: 80%;
    height: calc(100vh - 180px); 
    overflow-y: auto;
    padding: 10px 10px 90px;
    margin: auto;
}

.cards-service::-webkit-scrollbar {
    width: 6px;
}

.cards-service::-webkit-scrollbar-thumb {
    background-color: #a88f86;
    border-radius: 10px;
}

.part-booking h1:nth-of-type(1) {
    font-size: 50px;
    font-weight: bold;
    color: var(--color-btn-dark-hover);
    font-family: "Playfair Display", Georgia, serif;;
}

.part-booking h1:nth-of-type(2) {
    font-size: 28px;
    color: var(--color-primary);
    padding: 0;
    margin: 0;
}

.bookings-section {
    flex: 1;
    overflow: hidden;
    padding-right: 10px;
        margin: 30px 40px;
    height: 55vh;
    border-radius: 7px;
        box-shadow: 0px 0px 11px 0px gray;

}

.part-booking{
    padding-top: 42px;
    overflow: hidden;
}

.table-responsive {
    height: 100%;
    max-height: calc(100vh - 250px); 
    overflow-y: auto;
}

.table-responsive::-webkit-scrollbar {
    width: 6px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #6a5148;
    border-radius: 10px;
}


.text-center{
    font-family: ui-monospace;
    font-weight: 700;
    line-height: var(--line-height);
}

.bookings-section>h2 {
    font-size: 28px;
    color: var(--bs-secondary);
}

.add-btn {
    padding: 10px 80px;
    border: none;
    background-color: hsl(25 35% 25%);
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px gray;
    color: white;
    display: block;
    margin: 40px auto;
    transition: .5s;
}
.add-btn:hover{
    background-color: hsla(25, 35%, 25%, 0.895);
}


/* responsive */
@media (max-width: 768px) {

    .dashboard-section {
        padding: 100px 0;
    }

    .dashboard-section .container h1:nth-of-type(1) {
        font-size: 32px;
        padding: 14px 0;
    }

    .dashboard-section .container h1:nth-of-type(2) {
        font-size: 20px;
    }

    .bookings-section {
        padding: 48px 0;
    }

    .bookings-section>h2 {
        font-size: 16px;
    }

    .add-btn {
        padding: 6px 45px;
        border: none;
        background-color: #64B5F6;
        font-weight: 500;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 0px gray;
        color: #000000;
    }
}