.entertainment-section{
    padding: 100px 0;
    background-color: var(--color-bg-local);
}

.entertainment-section h1{
    text-align: center;
    font-family: serif;
    font-size: var(--font-size-big-text);
    padding-bottom: 50px;
    color: var(--color-small-pg);
}