.footer-section {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px 0 40px 0;
}

.footer-section .container footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.content-footer {
    margin-right: 70px;

}

.content-footer h1 {
    margin-bottom: 20px;
    font-size: var(--font-size-big-text);
    font-family: serif;
    font-weight: bold;
    color: var(--color-btn);
}

.content-footer p {
    line-height: var(--line-height);
    font-size: var(--font-size-smtext);
    color: var(--color-smtext);
}

.explore ul,
.social ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.explore ul li,
.social ul li {
    text-decoration: none;
    margin: 0 10px;
}

.explore-social {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.explore h4,
.social h4 {
    color: var(--color-btn);
    font-size: var(--font-size-text);
    margin-bottom: 18px;
}

.explore li {
    color: var(--color-smtext);
    font-weight: 400;
    font-size: var(--font-size-smtext);
}

.explore li:hover {
    color: var(--color-btn);
}

.social li {
    font-size: 1.5rem;
    padding-right: 20px;
}

.social li:nth-of-type(1) {
    color: #0953b4;
    transition: 0.3s;
}
.social li:nth-of-type(1):hover {
    color: #2c87ff;
}

.social li:nth-of-type(2) {
    color: #8b8b8b;
    transition: 0.3s;
}
.social li:nth-of-type(2):hover {
    color: #cac8c8;
}

.social li:nth-of-type(3) {
    background: linear-gradient(45deg, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
    background-clip: text; 
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.3s;
}

.social li:nth-of-type(3):hover {
    color: #cac8c8;
}

.end-footer{
    color: var(--color-paragraph);
    margin-top: 30px;
}

.end-footer hr{
    border: none;
    height: 1px;
    background-color: hsl(32 100% 97%);
    margin: 20px 0;
}
