.form-section {
    background: #fff;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    width: 40%;
    height: max-content;
    margin-left: 200px;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section label {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 500;
}

.form-section input,
.form-section textarea {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 14px;
    font-size: 14px;
    outline: none;
}

.form-section input:focus,
.form-section textarea:focus {
    border-color: #a68868;
}

.two-inputs {
    display: flex;
    gap: 12px;

}

.two-inputs div {
    width: 100%;
}

.terms {
    font-size: 12px;
    color: #777;
    margin-bottom: 16px;
}

.terms span {
    color: #a68868;
    cursor: pointer;
}

.form-section button {
    background-color: #a68868;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.form-section button:hover {
    background-color: #8d6e63;
}


/* responsive */
@media (max-width: 768px) {
    .form-section {
        padding: 0;
        width: 100%;
        margin: 30px;
    }

    .form-section input,
    .form-section textarea {
        width: 100%;
    }

    .two-inputs {
        flex-direction: column;
    }

}