.form-section {
    background: #fff;
    padding: 24px;  
    border-radius: 16px;
    /* box-shadow: 0 10px 30px rgba(0,0,0,0.08); */
    border: 1px solid red;
    width: 40%;
    height: max-content;
    
}

.form-section form {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.form-section label {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 500;
}

.form-section input,
.form-section textarea {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 14px;
    font-size: 14px;
    outline: none;
}

.form-section input:focus,
.form-section textarea:focus {
    border-color: #a68868;
}

.two-inputs {
    display: flex;
    gap: 12px;
}

.two-inputs div {
    width: 100%;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 14px;
    font-size: 14px;
}

.terms {
    font-size: 12px;
    color: #777;
    margin-bottom: 16px;
}

.terms span {
    color: #a68868;
    cursor: pointer;
}

.form-section button {
    background-color: #a68868;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.form-section button:hover {
    background-color: #8d6e63;
}
