.login-page {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-bg);
    padding: 85px 0;
}

.login-box {
    padding: 40px;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color:var(--color-secondary);
}
.login-box p {
    text-align: center;
    margin-bottom: 40px;
}

.login-box input ,.update_label{
    width: 100%;
    padding: 12px;
    /* margin-bottom: 15px; */
    border-radius: 8px;
    border: 1px solid #ddd;
}

.login-box button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: var(--color-secondary);
    color: #fff;
    cursor: pointer;
}
.switch-auth {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.switch-auth a {
    color: var(--color-secondary);
    font-weight: bold;
    text-decoration: none;
}
.signupform{
    justify-self: center;
}
#role{
    width: auto;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.error-text {
    color: #d9534f;
    font-size: 0.95rem;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container input {
    width: 100%;
    padding-right: 45px; /* Leave space for the button */
}

.password-toggle-btn, .toggle-icon {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    font-size: 0.8rem;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-toggle-btn:hover {
    color: #007bff;
}
.leaflocation_minimap{
    height: 300px;
    width: 100%;
    margin-block: 20px;
    border-Radius: 8px;
    overflow: hidden;
    border: 1px solid #ccc
}