.nav-section {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    transition: 0.5s;
}

.nav-section.scrolled {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--color-primary);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px 0;
}

.part-one {
    display: flex;
    align-items: center;
    flex: 1;
}

.mobile-menu {
    display: none;
}

.mobile-menu-btn {
    display: none;
}

.logo p {
    margin: auto;
    padding: 0 35px 0 0;
    font-family: initial;
    font-size: 32px;
    font-weight: bold;
    color: var(--color-btn);
    transition: color 0.3s ease;
}

.nav-section.scrolled .logo p {
    color: whitesmoke;
}

.menu{
        position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.menu button {
    position: relative;
    border: none;
    margin-right: 35px;
    background-color: transparent;
    color: #ebdec5;
    font-size: var(--font-size-text);
    font-family: serif;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition:
        color 0.25s ease,
        background-color 0.25s ease,
        transform 0.2s ease;
}

.menu button::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 1px;
    width: 0;
    height: 2px;
    background-color: var(--color-btn);
    transition: 0.3s ease;
    transform: translateX(-50%);
}

.menu button.active::after {
    width: 100%;
}

.menu button:hover::after {
    width: 100%;
}

.nav-section.scrolled .menu button {
    color: whitesmoke;
    font-weight: 200;
}
.nav-section.scrolled .menu button:hover {
    background-color: #574d3f;
}

.sign-in {
    font-size: 16px;
    font-family: revert-layer;
    padding: 6px 12px;
    border-radius: 4px;
    background: var(--color-btn);
    border: none;
    margin-right: 15px;
    color: var(--color-secondary);
    transition: .3s;
}

.sign-in:hover {
    background: #deccb3;
}

.btns{
        display: flex;
    align-items: center;
    gap: 15px;
}

.get-start {
    font-size: 16px;
    font-family: revert-layer;
    padding: 6px 12px;
    border-radius: 4px;
    background: rgb(25, 18, 3);
    border: none;
    margin-right: 15px;
    color: var(--color-bg);
    transition: .3s;
}

.get-start:hover {
    background: rgba(25, 18, 3, 0.897);
}
.my-booking-btn,
.update-info-btn,
.logout-btn{
    border: none;
    padding: 3px;
    font-size: 16px;
    border-radius: 5px;
    transition: .3s;
}
.my-booking-btn{
        /* background-color: #331d085c; */
    background-color: #f1dfcf;
    color: black;
    padding: 5px 10px;
}
.my-booking-btn:hover{
    color: wheat;
}
.my-booking-btn:hover,
.update-info-btn:hover{
    background-color: #d49a6353;
}
.update-info-btn{
background-color: transparent;
    color: #f5e8ce;
    padding: 5px 10px;
}
.logout-btn{
    background-color: transparent;
    color: whitesmoke;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.logout-btn i {
    transition: transform 0.3s ease;
    margin-left: 6px;
}
.logout-btn:hover{
    color: red;
}
.logout-btn:hover i {
    transform: translateX(6px);
}

.welcome-para{
    color: white;
}

.mobile-menu hr{
    background-color: white;
}

/* responsive */
@media (max-width: 768px) {
    nav {
        padding: 10px 8px;
    }

    .menu,
    .btns {
        display: none;
    }

    .mobile-menu {
        position: absolute;
        top: 100%;
        right: 14px;
        background: #2b1f15;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
        transition:
            opacity 0.35s ease,
            transform 0.35s ease;
    }

    .mobile-menu-btn {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .mobile-menu-btn span {
        width: 25px;
        height: 3px;
        background-color: whitesmoke;
        border-radius: 5px;
    }

    .mobile-menu.show {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .mobile-menu a {
        padding: 12px 0;
        text-decoration: none;
        color: whitesmoke;
        font-weight: 200;
    }

    .mobile-menu hr {
        margin: 15px 0;
        opacity: 0.3;
    }

    .mobile-menu .signup {
        background: var(--color-btn);
        color: var(--color-secondary);
        padding: 10px;
        text-align: center;
        border-radius: 6px;
    }

    .nav-section.scrolled .logo p {
        font-size: 24px ;
    }
    
}