.nav-section {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    transition: 0.5s;
}

.nav-section.scrolled {
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
    background-color: #f6f3ee;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 2px 0;
}

.part-one {
    display: flex;
    align-items: center;
    flex: 1;
}

.mobile-menu {
    display: none;
}

.mobile-menu-btn {
    display: none;
}

.logo p {
    margin: auto;
    padding: 0 35px 0 0;
    font-family: initial;
    font-size: 26px;
    font-weight: bold;
    color: antiquewhite;
    transition: color 0.3s ease;
}

.nav-section.scrolled .logo p {
        color: var(--color-text-navbar);
}

.menu {
    display: flex;
    align-items: center;
    gap: 8px;
}


.menu button {
    position: relative;
    border: none;
    margin-right: 35px;
    background-color: transparent;
    color: #ebdec5;
    font-size: var(--font-size-btns);
    font-family: serif;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition:
        color 0.25s ease,
        background-color 0.25s ease,
        transform 0.2s ease;
}

.menu button::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 1px;
    width: 0;
    height: 2px;
    background-color: var(--color-btn);
    transition: 0.3s ease;
    transform: translateX(-50%);
}

.nav-section.scrolled .mobile-menu-btn span{
    background-color: var(--color-text-navbar);
}

.menu button.active::after {
    width: 100%;
}

.menu button:hover::after {
    width: 100%;
}

.nav-section.scrolled .menu button {
    color: var(--color-text-navbar);
    font-weight: 600;
}
.nav-section.scrolled .menu button {
    color: var(--color-text-navbar);
    font-weight: 600;
}
.nav-section.scrolled .menu button:hover {
    background-color: #ded0bb69;
}

.sign-in {
    font-size: 16px;
    font-family: revert-layer;
    padding: 6px 12px;
    border-radius: 4px;
    background: var(--color-btn);
    border: none;
    margin-right: 15px;
    color: white;
    transition: .3s;
}

.sign-in:hover {
    background: #deccb3;
    color: #2b1f15;
}

.btns{
        display: flex;
    align-items: center;
    gap: 15px;
}

.get-start {
    font-size: 16px;
    font-family: revert-layer;
    padding: 6px 12px;
    border-radius: 4px;
    background: rgb(25, 18, 3);
    border: none;
    margin-right: 15px;
    color: var(--color-bg);
    transition: .3s;
}

.get-start:hover {
    background: rgba(25, 18, 3, 0.897);
}

.welcome-para{
    color: var(--color-text-navbar);
        font-size: 14px;
    padding: 5px 0
}

.mobile-menu hr{
    background-color: white;
}
.profile-img-container{
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.profile-img-container:hover{
    box-shadow:0px 0px 9px 2px var(--color-secondary);
}
.profile-img-container.active-user {
    box-shadow: 0px 0px 9px 2px var(--color-secondary);
}
.profile-prev-img{
    width: 50px;
}
.user-menu-wrapper {
    position: relative;
}

.user-dropdown {
    position: absolute;
    top: 55px;
    right: 0;
    background-color: #f6f3ee;
    border-radius: 8px;
    min-width: 170px;
    box-shadow: 0px 5px 20px 1px rgb(0 0 0 / 34%);
    padding: 10px 7px;
    z-index: 2000;
    transition:
        color 0.25s ease,
        background-color 0.25s ease,
        transform 0.2s ease;
}

.user-dropdown a,
.user-dropdown .logout-item{
    display: block;
    padding: 7px 12px;
    color: var(--color-text-navbar);
    background: transparent;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    transition: .9ms;
}

.user-dropdown a:hover,
.user-dropdown .logout-item:hover,
.user-dropdown .dashboard-btn :hover{
    background-color: #d8c6a8;
    border-radius: 7px;
}

.user-dropdown .logout-item{
    color: #dc1414;
}

.user-dropdown i{
    padding-right: 6px;
}
.user-dropdown hr{
    margin: 4px 0
}



/* responsive */
@media (max-width: 768px) {
    nav {
        padding: 10px 8px;
    }

    .menu,
    .btns {
        display: none;
    }

    .mobile-menu {
        position: absolute;
        top: 56px;
        right: 20px;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
        transition:
            opacity 0.35s ease,
            transform 0.35s ease;
    background-color: #f6f3ee;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0px 5px 20px 1px rgb(0 0 0 / 34%);
    padding: 10px 12px;
    z-index: 2000;
    }

    .mobile-menu-btn {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .mobile-menu-btn span {
        width: 25px;
        height: 3px;
        background-color: antiquewhite;
        border-radius: 5px;
    }

    .mobile-menu.show {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .mobile-menu a {
        padding: 12px 0;
        text-decoration: none;
        color: var(--color-text-navbar);
        font-weight: 400;
        font-size: 12px;
    }

    .mobile-menu hr {
        margin: 4px 0;
        opacity: 0.3;
    }

    .mobile-menu .signup {
        background: var(--color-btn);
        color: var(--color-secondary);
        padding: 10px;
        text-align: center;
        border-radius: 6px;
    }

    .nav-section.scrolled .logo p {
        font-size: 24px ;
    }

    .logout-item{
            display: block;
    padding: 7px 0;
    color: #dc1414;
    background: transparent;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    transition: .9ms;
    }

    .logout-item i{
        padding-right: 5px;
    }
    
}