.portfolio-one {
  position: relative;
  padding: 80px 0;
    background-color: var(--color-bg);
}

@media (max-width: 767px) {
  .portfolio-one {
    padding: 80px 0 50px;
  }
}

.portfolio-one__home3 {
  padding-bottom: 35px;
}

.portfolio-one__home3 .container {
  max-width: 1600px;
}

.portfolio-one__home3 .portfolio-one__hover {
  max-width: 290px;
  margin-top: -166px;
}

.portfolio-one__slider {
    position: relative;
    display: flex;
        margin-top: 30px;
  
    justify-content: space-around;
}

@media (min-width: 1600px) {
  .portfolio-one__slider {
    padding: 0 50px;
  }
}

.portfolio-one__item {
  position: relative;
  margin: 0 20px 30px;
}

.portfolio-one__item:hover .portfolio-one__thumb img {
  transform: scale(1.05);
  opacity: .7;
  mix-blend-mode: normal;
}


.portfolio-one__item:hover .portfolio-one__hover-bottom {
  visibility: visible;
  opacity: 1;
  animation-delay: .3s;
  animation-name: fadeInDown;
}

.portfolio-one__thumb {
  overflow: hidden;
}

.portfolio-one__thumb img {
  width: 100%;
  height: auto;
  mix-blend-mode: luminosity;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.portfolio-one__hover {
  position: relative;
      max-width: 240px;
    margin: -137px 0 0;
  z-index: 2;
}

@media (max-width: 767px) {
  .portfolio-one__hover {
    margin-top: -66px;
  }
}

@media (max-width: 450px) {
  .portfolio-one__hover {
    margin-top: -66px;
    max-width: 320px;
  }
}


.portfolio-one__hover-bottom {
  position: relative;
  z-index: 2;
  background-color: #a68868b5;
  padding: 25px 30px 32px;
  visibility: hidden;
  opacity: 0;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.portfolio-one__cats {
  display: flex;
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 6px;
}

.portfolio-one__cats a {
  color: inherit;
}

/* .portfolio-one__cats a:hover {
} */

.portfolio-one__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}

.portfolio-one__title a {
  color: inherit;
  background-image: linear-gradient(currentcolor, currentcolor), linear-gradient(currentcolor, currentcolor);
  display: inline;
  background-size: 0% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: all 0.4s ease;
}

.portfolio-one__title a:hover {
  background-size: 0% 1px, 100% 1px;
}

.portfolio-one .active.center .portfolio-one__thumb img {
  transform: scale(1.05);
  opacity: .7;
}


.portfolio-one .active.center .portfolio-one__hover-bottom {
  visibility: visible;
  opacity: 1;
  animation-delay: .3s;
  animation-name: fadeInDown;
}
.button {
        display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: none;
}
.more-btn{
    text-decoration: none;
    padding: 10px 20px;
    background-color: var(--color-secondary);
    color: whitesmoke;
    border-radius: 5px;
    transition: 0.5s;
    font-size: var(--font-size-smtext);
    font-weight: 600;
    box-shadow: 0px 0px 10px 0px #74583c;
    border: none;
}

.more-btn:hover{
  background-color:#632301;
}

.section-title__tagline{
        text-transform: uppercase;
    margin-bottom: 20px;
    font-family: serif
}
.portfolio-one__slider .item:first-child  .portfolio-one__hover-bottom{
  visibility: visible;
  opacity: 1;
}
.portfolio-one__slider .item:first-child  img {
  mix-blend-mode: normal;
}
@keyframes fadeInDown{
0% {
    opacity: 0;
    transform: translateY(-20px);
}

100% {
    opacity: 1;
    transform: translateY(0);
}
}