.reviews-section {
  padding: 150px 0;
  text-align: center;
}

.title {
  font-size: 28px;
  text-transform: uppercase;
    margin-bottom: 70px;
    font-family: serif;
}


.review-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  max-width: 550px;
  margin: 0 auto;
}

.review-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 15px;
  border: 3px solid var(--color-secondary);
}

.review-text {
  font-size: 17px;
  margin: 15px 0;
  font-style: italic;
  color: #444;
}

.review-name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.review-job {
  font-size: 14px;
  color: gray;
}

/* ===== Custom Pagination (Dots) ===== */

.swiper-pagination {
  margin-top: 25px !important;  /* تنزل لتحت شوية */
  position: relative;
}

.swiper-pagination-bullet {
  width: 30px;         
  height: 3px;          
  border-radius: 0;     
  background: #d0d0d0;
  opacity: 1;
  margin: 0 5px !important; 
}

.swiper-pagination-bullet-active {
  background: var(--color-secondary) !important;
}
