.services-section {
    background-color: var(--color-bg-local);
    padding-top: 180px;
    padding-bottom: 100px;
}

.header-services h1 {
    font-family: serif;
    text-align: center;
    font-size: var(--font-size-big-text);
    font-weight: bold;
    color: var(--color-primary);
}

.header-services p {
    font-size: var(--font-size-text);
    text-align: center;
    line-height: var(--line-height);
    padding: 20px 90px;
    font-weight: 600;
    color: var(--color-small-pg);
}

.section {
    margin-top: 40px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.header h2 {
    font-family: serif;
    font-weight: 400;
    color: var(--color-primary);
}

.header p {
    font-size: 15px;
    color: var(--color-secondary);
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

/* responsive */
@media (max-width: 768px) {
    .services-section {
        padding: 95px 0;
    }

    .header-services {
        margin: 80px 0;
    }

    .header-services h1 {
        font-size: 32px;
    }

    .header-services p {
        font-size: 16px;
        padding: 40px;
    }

    .section {
        margin-top: 85px;
    }

    .header {
        padding: 20px 0;
    }

    .header h2 {
        font-weight: 800;
        font-size: 18px;
        margin: 0;
    }

    .header p {
        font-size: 15px;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }


}