/* ===== Service Details Section ===== */
.service-details-section {
    padding: 120px 20px 75px;
    background-color: var(--color-bg-local);
}

.service-details-section h1 {
    text-align: center;
    margin-bottom: 50px;
    font-family: serif;
    font-size: var(--font-size-big-text);
    font-weight: 800;
}

/* ===== Details Hero ===== */
.details-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 25px;
}

.img-details img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 12px;
}

/* ===== Extra Images ===== */
.extra-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-bottom: 12px;
    overflow-x: auto;
    scrollbar-width: thin;
    margin: 20px 0;
}

.extra-images::-webkit-scrollbar {
    height: 6px;
}

.extra-images::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}

.card-img img:hover {
    transform: scale(1.05);
}

/* ===== Form Section ===== */
.details-hero-form {
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: form;
}

.details-hero-form h5 {
    text-align: center;
}

/* ===== More Details ===== */
.more-details {
    display: flex;
    flex-direction: column;
    grid-area: details;
    margin: auto;
    width: 70%;
    box-shadow: 0 0 9px 0px #8080809e;
    padding: 20px;
    border-radius: 10px;
}

.more-details h5 {
    color: var(--color-primary);
        font-size: 18px;
}

.more-details p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
    color: var(--color-secondary);
}

.back-btn {
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}


.btns-admin {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 40px;
}

.details-hero.with-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "images form"
        "details details";
    gap: 20px;
}

.details-hero.no-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "images" "details";
    gap: 20px;
}

.details-hero-images {
    grid-area: images;
}


.edit-btn {
    padding: 4px 11px;
    border: none;
    background-color: var(--color-btn);
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 0px #8D6E63;
    width: 300px;
    transition: .2s ease-in-out;
}

.edit-btn:hover {
    background-color: var(--color-btn-hover);
}

.delete-btn {
    padding: 4px 11px;
    border: none;
    background-color: #a51111;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 0px #8D6E63;
    width: 300px;
    transition: .2s ease-in-out;
}

.delete-btn:hover {
    background-color: #7c1b1b;
}

    .details-hero .card-img{
        height: 200px;
    }

/* ===== Responsive ===== */

@media (max-width: 992px) {

    .details-hero-images,
    .details-hero-form,
    .more-details {
        width: 100%;
    }

    .details-hero-images img {
        height: auto;
    }

    .btns-admin {
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;
    }

    .edit-btn {
        padding: 4px 11px;
        width: auto;
    }

    .delete-btn {
        background-color: #a51111;
        width: auto;
    }

    .details-hero {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "images"
            "form"
            "details";
        gap: 15px;
    }

    .details-hero-form {
        grid-row: auto;
        margin-top: 20px;
        width: 100%;
    }
}

@media (max-width: 768px) {

    .details-hero.with-form {
        grid-template-columns: 1fr;
        grid-template-areas:
        "images"
        "details"
        "form";
    }

    .btns-admin {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
    }

    .edit-btn {
        padding: 4px 11px;
        width: auto;
    }

    .delete-btn {
        background-color: #a51111;
        width: auto;
    }

    .service-details-section {
        padding: 100px 20px 34px;
    }

    .service-details-section h1 {
                margin: 10px;
                font-size: 28px;
    }

    .details-hero {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "images"
            "form"
            "details";
        gap: 15px;
    }

    .details-hero-images{
        width: 100%;
        margin:  10px 0;
    }

    .details-hero-form{
        width: 100%;
        margin-bottom: 10px;
    }
    .more-details{
        width: 100%;
        margin:  0;
    }

    .more-details{
        width: 100%;
    }

    .img-details img {
        height: auto;
    }

    .more-details p {
        font-size: 16px;
    }

    .back-btn {
        width: 100%;
        justify-content: center;
    }

    .details-hero.no-form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
    }
    .extra-images {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;
    }
    /* .card-img {
        height: auto;
    } */

    .details-hero .card-img{
        height: 200px;
    }

}

/* @media (max-width: 480px) {
    .details-hero.no-form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
    }

    .details-hero {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "images"
            "form"
            "details";
        gap: 15px;
    }

    .details-hero-images,
    .details-hero-form,
    .more-details {
        width: 100%;
    }

    .details-hero-form {
        width: 100%;
    }

    .extra-images {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;
    }

} */