.weddingVenue-section {
    padding: 100px 0;
    background-color: var(--color-bg-local);
}

.weddingVenue-section h1 {
    text-align: center;
    font-family: serif;
    font-size: var(--font-size-big-text);
    padding-bottom: 50px;
    color: var(--color-small-pg);
}

.box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 40px;
    align-items: center;
}


.search-input {
    width: 40%;
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    transition: 0.2ms;
    background-color: #a688683d;
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 600;
    outline: none;
}

.search-input::placeholder {
    color: var(--color-gold);
}

.search-input:focus {
    background-color: #a6886862;
}

.back-btn {
    width: 100px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-btn);
    padding: 8px;
    color: whitesmoke;
    box-shadow: 0px 0px 9px 0px #8D6E63;
    transition: .3s;
}

.back-btn:hover {
    background-color: var(--color-btn-hover);
}

.back-btn i {
    padding-right: 10px;
}

/* responsive */
@media (max-width: 768px) {
    .weddingVenue-section {
        padding: 100px 0;
        background-color: var(--color-bg-local);
    }

    .weddingVenue-section h1 {
        font-size: 28px;
        padding: 20px
    }

    .box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 20px 0 40px;
        align-items: center;
    }


    .search-input {
        width: 70%;
        font-size: 12px;
    }

    .search-input::placeholder {
        color: var(--color-gold);
    }

    .search-input:focus {
        background-color: #a6886862;
    }

    .back-btn {
        width: 85px;
        font-size: 14px;
        padding: 5px;
    }

    .back-btn:hover {
        background-color: var(--color-btn-hover);
    }

    .back-btn i {
        padding-right: 10px;
    }

}