.service-details-section {
    padding: 120px 0;
}

.service-details-section h1 {
    text-align: center;
    margin-bottom: 50px;
    font-family: serif;
    font-size: var(--font-size-big-text);
    font-weight: 800;
}

.details-hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.img-details {
    width: 40%;
}

.img-details img {
    width: 100%;
}

.more-details {
    display: flex;
    flex-direction: column;
}

.more-details h5{
color: var(--color-primary);
}
.more-details p{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 400;
    color: var(--color-secondary);
}


/* responsive */
@media (max-width: 768px) {
    .service-details-section {
        padding: 120px 0 55px;
    }

    .service-details-section h1 {
        font-size: 26px;
    }

    .details-hero {
        flex-direction: column;
    }

    .img-details {
        width: 40%;
    }

    .img-details img {
        width: 100%;
    }

    .more-details {
        display: flex;
        flex-direction: column;
    }

    .more-details h5{
        font-size: 18px;

}
.more-details p{
    font-size: 16px;
}

}