.Signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-bg);
    padding: 85px 0;
}


.text-center {
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 400;
    line-height: 2.2;
}

.Signup-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-secondary);
}

.Signup-box p {
    text-align: center;
    margin-bottom: 40px;
}

.Signup-box input,
.update_label {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.Signup-box .submit_btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: var(--color-secondary);
    color: #fff;
    cursor: pointer;
}

.signupform {
        justify-self: center;
    box-shadow: 0px 0px 20px 0px #5f4c2836;
    width: 500px;
    padding: 25px;
    border-radius: 18px;
}

#role {
    width: auto;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.error-text {
    color: #d9534f;
    font-size: 0.95rem;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container input {
    width: 100%;
    padding-right: 45px;
}

.password-toggle-btn,
.toggle-icon {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    font-size: 0.8rem;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-toggle-btn:hover {
    color: #007bff;
}

.leaflocation_minimap {
    height: 300px;
    width: 100%;
    margin-block: 20px;
    border-Radius: 8px;
    overflow: hidden;
    border: 1px solid #ccc
}

.profile-image-container {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.profile-preview-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #7b2cbf;
}

.remove-img-btn:hover {
    transform: scale(1.1);
}

.image-label {
    cursor: pointer;
    color: var(--color-small-pg);
    font-weight: bold;
}

.profile-image-container.update-page {
    width: 150px;
    height: 120px;
}

.profile-preview-img.update-page {
    width: 150px;
    height: 150px;
}


/* responsive */
@media (max-width: 768px) {
    .Signup-page {
    padding: 65px 20px;
    }

    .Signup-box >h1 {
    font-size: 22px;
}
    .profile-image-container.update-page{
        height: 110px;
    }

    .signupform {
    width: 95%;
    padding: 16px;
}
.text-center{
    font-size: 20px;
}
.image-label{
    font-size: 16px;
}
.Signup-box input, .update_label {
    padding: 6px;
}

.Signup-box{
    padding-top: 20px;
}



}