.Signup-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-info-btn{
    width: 100%;
    border: none;
    background-color: var(--color-btn-dark);
    padding: 7px;
    border-radius: 6px;
    transition: .5s;
        margin: 15px 0;
        color: whitesmoke;
}
.form-info-btn:hover{
    background-color: #6b4a3f;
}
.div-cancel-btn{
        text-align: center;
}
.cancel-btn{
padding: 7px;
    color: white;
    background-color: #c81e1e;
    border-radius: 6px;
    border: none;
    transition: .2s;
    width: 90%;
    margin-top: 20px;
}

.Signup-box >h1{
    font-size: 32px;
}

.cancel-btn:hover{
    background-color: #af1a1a;
}
label {
    color: #574d3f;
    font-family:  "Playfair Display", Georgia, serif;
}
/* responsive */
@media (max-width: 768px) {
    .form-info-btn{
    margin: 8px 0 15px;
}
}
