.view-section{
    height: 80vh;
    background-image: url('/view.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
}

.view-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.477); 
}

.view-section .container{
    position: relative;
    z-index: 1;
    padding: 40px;
    width: 70%;
}

.view-section .container p:nth-of-type(1){
    font-size: var(--font-size-big-text);
    font-weight: 300;
    line-height: var(--line-height);
    margin-bottom: 30px;
    color: whitesmoke;
    font-family: 'Playfair Display', serif; 
}

.view-section .container p:nth-of-type(2){
    font-size: var(--font-size-text);
    color: var(--color-smtext);
}

/* =====================
   Responsive View Section
===================== */

/* tablet */
@media (max-width: 992px) {
  .view-section {
    height: 50vh;
    background-attachment: scroll; 
  }

  .view-section .container {
    width: 85%;
    padding: 30px;
  }

  .view-section .container p:nth-of-type(1) {
    font-size: 32px;
    line-height: 1.3;
  }
}

/* phone */
@media (max-width: 576px) {
  .view-section {
    height: auto;
    padding: 60px 20px;
  }

  .view-section .container {
    width: 100%;
    padding: 20px;
  }

  .view-section .container p:nth-of-type(1) {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .view-section .container p:nth-of-type(2) {
    font-size: 14px;
    line-height: 1.6;
  }
}
