:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-primary: rgb(30, 24, 18); /* Header Footer text */
  --color-secondary: #90451d; /* text-buttons */
  --color-btn: #e6dac9; /* buttons */
  --color-btn-hover: #deccb3; /* buttons-background-hover */
  --color-soft: #9c521d6e; 
  --color-bg: #f6f3ee; /* Background */
  --color-bg-local: whitesmoke;
  --color-bg-hover:#00000044; /* background hover */
  --color-gold: #a68868; /* important-icons */
  --color-text:#e4dac6d4;
  --color-smtext:#a5a5a5;
  --color-paragraph:#9b907f;
  --color-small-pg:#574d3f;

  
  --font-size-big-text: 3rem;   /* 1rem = 16px*/
  --font-size-text: 1.2rem;
  --font-size-smtext: 0.9rem;
  --font-size-btns: 1.125rem;
  --line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}

p{
  margin: 0;
  padding: 0;
}
